@CHARSET "UTF-8";

body {
	text-align: center;
}
.music-pannel {
	background-color: #000;
	opacity: 1;
	height: 54px;
	width: 400px;
	margin: 11px auto;
}

.music-container {
	background-color: #000;
	opacity: 0.5;
	height: 56px;
	width: 100%;
	min-width: 500px;
}

.musiccomp {
	opacity: 1;
	height: 32px;
	padding: 0;
	font-weight: 0;
	display: inline;
}
